<html>
<table>
	<thead><%=link_to "new station", new_station_path%></thead>
	<br>
	
	<tr>
		<td><b><i>Name :</i></b></td>
		<td><%=@station.name%></td>
	</tr>
	<tr>
		<td><b><i>Address :</i></b></td>
		<td><%=@station.address%></td>
	</tr>
	
</table>
	
</html>